<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565471500049-1pqql9tcjvt7gfubjppcc32mlj1j62l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565471500049-1pqql9tcjvt7gfubjppcc32mlj1j62l5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>565471500049-ck71cefma33bsomchu0ct46qht11lm1v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWV7DnBgoNS40YYY1bw8ot76tsLVMvCBM</string>
	<key>GCM_SENDER_ID</key>
	<string>565471500049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.g4c</string>
	<key>PROJECT_ID</key>
	<string>g4c-8854b</string>
	<key>STORAGE_BUCKET</key>
	<string>g4c-8854b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565471500049:ios:0b2302f6eb2211c0b29eb0</string>
</dict>
</plist>